<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.manageroid.application"
	android:versionCode="1"
	android:versionName="1.0">
	<application
		android:icon="@drawable/icon"
		android:name=".ManageroidApp"
		android:label="@string/app_name">
		<activity
			android:name=".views.SplashScreenActivity"
			android:label="@string/app_name"
			android:clearTaskOnLaunch="true"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity
			android:name=".views.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="com.manageroid.application.views.MAIN_MENU_ACTIVITY" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".receivers.StartupReceiver">
			<intent-filter>
				<action
					android:name="android.intent.action.BOOT_COMPLETED" />
				<category
					android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>

		<service
			android:name=".services.ManageroidService">
			<intent-filter>
				<action
					android:name="com.manageroid.application.services.ManageroidService" />
			</intent-filter>
		</service>

	</application>

	<uses-sdk
		android:minSdkVersion="9" />

	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
</manifest> 